<a href="https://colab.research.google.com/github/ardaturker/ml-semester-project/blob/main/Copy_of_02_Task_LinearRegressionData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Part 1 – Setup & Data

In [ ]:
!git clone https://github.com/ardaturker/ml-semester-project.git
%cd ml-semester-project
!ls

# Import libraries for data handling, numerical operations, visualization,
# and machine learning
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Import tools for splitting the dataset, fitting a linear regression model,
# and evaluating model performance
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

import pandas as pd

import pandas as pd

df = pd.read_csv("Housing.csv")
df.head()


# Quick look at the first 5 rows
display(df.head())

# See the shape (rows, columns)
print("Shape (rows, columns):", df.shape)

# List columns to know exact names (we'll need this!)
print("Columns:", list(df.columns))

Cloning into 'ml-semester-project'...
remote: Enumerating objects: 19, done.
remote: Counting objects: 100% (19/19), done.
remote: Compressing objects: 100% (16/16), done.
remote: Total 19 (delta 6), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (19/19), 15.62 KiB | 1.95 MiB/s, done.
Resolving deltas: 100% (6/6), done.
/content/ml-semester-project/ml-semester-project
Copy_of_02_Task_LinearRegressionData.ipynb  Notebooks  src
Housing.csv				    README.md

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

Shape (rows, columns): (545, 13)
Columns: ['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'parking', 'prefarea', 'furnishingstatus']

# New Section

#### 1.1 Scatter plot
Check the relationship.
if linear --> linear regression

In [ ]:
# Scatter plot
plt.scatter(df["area"], df["price"]/1_000_000)
plt.xlabel("Area (sq. ft.)")
plt.ylabel("Price (millions €)")
plt.title("Living Area vs. House Price")

plt.show()

### Part 2 – Data Preparation

In [ ]:
X = df[["area"]]  # Feature (2D!)
y = df["price"]         # Target

#Split data in train and test
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

### Part 3 - Model Training

In [ ]:
# Create a linear regression model object
# This model will learn the relationship between LivingArea (X) and Price (y)
model = LinearRegression()

# Train (fit) the model using the training data
# The algorithm automatically finds the parameters (weights)
# that minimize the Residual Sum of Squares (RSS)
model.fit(X_train, y_train)

# After training, we can inspect the learned model parameters:
# model.coef_      -> slope (w1): how much the price changes when LivingArea increases by 1 unit
# model.intercept_ -> intercept (w0): predicted price when LivingArea = 0
model.coef_, model.intercept_

### Part 4 - Evaluation & Visualization

In [ ]:
# Predictions
y_pred = model.predict(X_test)

In [ ]:
# Metrics
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

mse, r2

In [ ]:
# Convert prices to millions
y_million = y / 1_000_000
y_pred_million = model.predict(X) / 1_000_000

# Plot regression line
plt.scatter(X, y_million, label="Data")
plt.plot(X, y_pred_million, label="Regression", linewidth=2, color="red")

plt.xlabel("Area (sq. ft.)")
plt.ylabel("Price (millions €)")
plt.legend()
plt.show()

### Part 5 – Predictions

In [ ]:
# New data
new_areas = pd.DataFrame({"area": [4000, 6000]})
predictions = model.predict(new_areas)

predictions_million = predictions / 1_000_000
predictions_million

# trail 3